aaaaaa ICON "j_sweep.ico"

carlos_normal RCDATA "img/carlos_normal.png"
carlos_left_down RCDATA "img/carlos_left_down.png"
carlos_win RCDATA "img/carlos_win.png"
carlos_lose RCDATA "img/carlos_hands.png"
about_icon RCDATA "img/j_sweep_ico_128.png"
mine_bitmap RCDATA "img/mine.png"

dig0 RCDATA "img/dig0.png"
dig1 RCDATA "img/dig1.png"
dig2 RCDATA "img/dig2.png"
dig3 RCDATA "img/dig3.png"
dig4 RCDATA "img/dig4.png"
dig5 RCDATA "img/dig5.png"
dig6 RCDATA "img/dig6.png"
dig7 RCDATA "img/dig7.png"
dig8 RCDATA "img/dig8.png"
dig9 RCDATA "img/dig9.png"
digperc RCDATA "img/digperc.png"
digneg RCDATA "img/digneg.png"

grid1 RCDATA "img/grid1.png"
grid2 RCDATA "img/grid2.png"
grid3 RCDATA "img/grid3.png"
grid4 RCDATA "img/grid4.png"
grid5 RCDATA "img/grid5.png"
grid6 RCDATA "img/grid6.png"
grid7 RCDATA "img/grid7.png"
grid8 RCDATA "img/grid8.png"

#include "wx/msw/wx.rc"
